<div class="container-inner">
    <div class="card">
        <div class="table-responsive">
            <table id="data-table-countries" class="table table-striped">
               <thead>
                <tr>
                    <td>#</td>
                    <td>id</td>
                    <td>Flag</td>
                    <td>Name</td>
                    <td></td>
                </tr>
                </thead>
            </table>
        </div>
    </div>

</div>