<div id="questionnaires_filter">
    <div class="row"  id="user_survey_id">
        <div class="col-sm-12 m-b-25">
            <p class="m-b-15 c-black">Survey</p>
            <select onchange="modules['questionnaires'].click()" class="selectpicker" id="survey_select"></select>
        </div>
    </div>
</div>

<!--<div class="form-group">-->
    <!--<div class="fg-line">-->
        <!--<input type="text" class="form-control" placeholder="Input Default">-->
    <!--</div>-->
<!--</div>-->

<!--<div class="form-group">-->
    <!--<div class="fg-line">-->
        <!--<input type="text" class="form-control input-lg" placeholder="Input Large">-->
    <!--</div>-->
<!--</div>-->