<div id="container" class="container">
    <div class="container-inner">

        <!--<div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body card-padding font-size-1_5em" id="p">

                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4"></div>

                    <div class="col-md-4 pull-right">
                        <div class="visitors-stats-item pull-right">
                            <strong id="timer">
                                00:00
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
            <div id="variants" class="col-md-12"></div>

            <div id="operations">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-8">
                            <button type="button" class="btn btn-success" id="confirm" style="margin-left: 30%; width: 250px;">Confirm</button>
                        </div>

                        <div class="col-md-4">
                            <button type="button" class="btn btn-colors" id="abstain"
                                    style="height: 60px;
                                           margin-left: 10%;
                                           width: 250px;
                                           margin-bottom: 20px;
                                           background-color: #512ca8;
                                           color : #ffffff"
                            >Abstain</button>
                        </div>
                    </div>
                </div>
            </div>



        </div>-->



        <div class="not-waiting row">
            <div class="col-md-12">
                <div class="card">
                    <div id="questionnaire-content" class="card-body card-padding font-size-1_5em text-center">

                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-6 p-10 text-center">
                        <p id="questionnaire-vote-note" class="m-0 text-center f-18">Confirm # votes</p>
                    </div>
                    <div class="col-xs-4 p-10 text-center">
                        <strong class="f-30">
                            <i id="timer-countdown-icon" class="material-icons f-30">timer_off</i>
                            <span id="timer-countdown">00:00</span>
                        </strong>
                    </div>
                </div>
            </div>
        </div>
        <div id="questionnaire_answer_container"class="not-waiting row">
            <div class="col-md-8">
                <div id="questionnaire-variant-container" class="p-15 m-t-10 box-shadow o-y-auto">
                    <div container id="container-1">
                        <div class="row m-b-10 m-t-10">
                            <div class="col-md-2 text-center p-10"></div>
                            <div class="col-md-8 text-center">
                                <div id="container-1-inner" class="row">

                                </div>
                            </div>
                            <div class="col-md-2 text-center p-10"></div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div id="votes-2-allocate" class="p-15 m-t-10 box-shadow text-center f-20 h-55">
                    Votes to allocate #
                </div>
                <div class="p-15 m-t-10 box-shadow">
                    <div class="row">
                        <div class="col-xs-12">
                            <button id="send-button" data-answer-action="confirm" onclick="send2ClientOnclick()" class="btn btn-lg btn-default waves-effect w-100 h-100">
                            <i class="material-icons f-50">send</i>
                        </button></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>