<div id="participants_filter">
    <div class="row"  id="user_survey_id">
        <div class="col-sm-12 m-b-25">
            <p class="m-b-15 c-black">Survey</p>
            <select onchange="modules['participants'].click()"class="selectpicker" id="survey_select">

            </select>
        </div>
    </div>
</div>