


/*---------------sidebar copy 2 filter-----------------------*/


#filter {
    position: fixed;
    background: #fff;
    height: calc(100% - 70px);
    top: 140px;
    right: 0;
    transition: all;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    z-index: 9;
    overflow-y: auto;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    width: 250px;
    transform: translate3d(0, 0, 0);
}

.filter-toggled #filter{
    -webkit-transform: translate3d(250px, 0, 0);
    transform: translate3d(250px, 0, 0);
}

.fi-trigger {
    cursor: pointer;
    display: inline-block !important;
}

/*.fi-trigger a{
    visibility: visible;
    display: block;
    background: #adadad;
    line-height: 35px;
    color: white;
    border-radius: 50%;
}

.fi-trigger .hide-filter i{
    color: white;
}

.fi-trigger .show-filter i{
    color: white;
}*/

.fi-trigger .show-filter{
    visibility: hidden;
    display: none;
}

.filter-toggled .fi-trigger .hide-filter{
    visibility: hidden;
    display: none;
}

.filter-toggled .fi-trigger .show-filter{
    visibility: visible;
    display: block;
}


/*---------------sidebar copy 2 filter-----------------------*/


.operation-header {
    /*position: fixed;*/
    right: 0;
    top: 70px;
    z-index: 8;
    width: 100%;
    /*background: #f3f3f3;*/
    padding-right: 15px;
    padding-left: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}

.operation-container {
    height: 50px;
    line-height: 50px;
    width: 100%;
    display: inline-block;
    margin: 0 auto;
    /*background: #f3f3f3;*/
    /*box-shadow: 0 1px 4px rgba(0,0,0,.3);*/
}

.operation-container h2 {
    margin: 0;
}

.operation-container ul {
    padding: 0;
}

#main {
    padding-top: 140px;
}

.list-style-none {
    list-style: none;
}

.operation-container li {
    font-size: 22px;
    font-weight: 400;
}

.border-left{
    border-left: 1px;
}


.content-loader {
    background: #fff;
    width: 100%;
    height: 100%;
    z-index: 1000;
}


html:not(.ismobile) .content-loader .preloader {
    width: 50px;
    position: absolute;
    left: 50%;
    margin-left: -25px;
    top: 50%;
    margin-top: -55px;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


html:not(.ismobile) .content-loader .preloader p {
    white-space: nowrap;
    position: relative;
    left: -9px;
    top: 22px;
    color: black;
}


.font-size25{
    font-size: 25px !important;
}

.font-size-1_5em{
    font-size: 20px;
}

.list-style-none{
    list-style : none;
}

.display-block{
    display : block;
}

.display-block li {
    display: inline-block;
}

.p-t-50{
    padding-top: 50px !important;
}

.bg-pink {
    background-color: #fce4ec;
}

.bg-purple {
    background-color: #512ca8;
}

.bg-green {
    background-color:  #388e3c;
}

.bg-green-darken-1{
    background-color: #43a047;
}

.bg-green-darken-3{
    background-color: #2e7d32;
}

.bg-green-darken-4{
    background-color: #1b5e20;
}

[data-ma-theme=purple]{
    background-color: #512ca8;
}


.him-all{
    top: -3px !important;
    right: 28px !important;
}

.him-new{
    top: -3px !important;
    right: 0 !important;
}

.progress-wrapper{
    height: 12px;
}

.status-online {
    box-shadow: 0 0 0 1px #1EC01E;
    background: #1EC01E;
}
.status-offline {
    box-shadow: 0 0 0 1px #ADADAD;
    background: #ADADAD;
}

.status {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;

}
.box-shadow{
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}

.question-variant-container{
    padding: 15px;
}

.h-100{
    height: 100px;
}

.h-100-pers{
    height: 100% !important;
}

.h-30{
    height: 30px;
}

.h-40{
    height: 40px;
}

.h-50{
    height: 50px;
}

.h-55{
    height: 55px;
}

.text-white{
    color: white;
}

.p-40{
    padding: 40px;
}


.vote-button[selected]{
    background-color: #1b5e20 !important;
}

.vote-button:hover{
    background-color: #2e7d32 !important;
}

.vote-button:active{
    background-color: #1b5e20 !important;
}


.brd-4{
    border-radius: 4px;
}

.brd-3{
    border-radius: 3px;
}

.brd-2{
    border-radius: 2px;
}

.m-t-100{
    margin-top: 100px;
}

.vertical-align-middle{
    vertical-align: middle;
}

.none{
    background: none;
    border: 1px solid;
}


.pointer-event-none {
    pointer-events: none;
}

button[data-answer-action="disabled"]{
    pointer-events: none;
}

table.vertical-header th{
    word-wrap: normal;
    width: 60px;
    padding: 10px 0 10px 0;
}


table.vertical-header th.rotate-45 {
    /* Something you can count on */
    height: 140px;
    white-space: nowrap;
}

table.vertical-header th.rotate-90 {
    /* Something you can count on */
    height: 160px;
    white-space: nowrap;
}

table.vertical-header th.rotate-45 > div {
    transform:
            translate(25px, 51px)
            rotate(315deg);
    width: 30px;
}
table.vertical-header th.rotate-90 > div {
    transform:
            translate(25px, 51px)
            rotate(270deg);
    width: 20px;
}

table.vertical-header th.rotate > div > span {
    /*border-bottom: 1px solid #ccc;*/
    padding: 5px 10px;
}


.circle {
    border-radius: 50%;
}

.table-td-vertical-middle td{
   vertical-align: middle !important;
}
