@media (min-width: 768px) {
    .lead {
        font-size: 19.5px
    }
    /*---------------*/

    .dl-horizontal dt {
        float: left;
        width: 160px;
        clear: left;
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap
    }

    .dl-horizontal dd {
        margin-left: 180px
    }

    .container {
        width: 100%
    }

    /*-------------*/

    .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
        float: left
    }

    .col-sm-12 {
        width: 100%
    }

    .col-sm-11 {
        width: 91.66666667%
    }

    .col-sm-10 {
        width: 83.33333333%
    }

    .col-sm-9 {
        width: 75%
    }

    .col-sm-8 {
        width: 66.66666667%
    }

    .col-sm-7 {
        width: 58.33333333%
    }

    .col-sm-6 {
        width: 50%
    }

    .col-sm-5 {
        width: 41.66666667%
    }

    .col-sm-4 {
        width: 33.33333333%
    }

    .col-sm-3 {
        width: 25%
    }

    .col-sm-2 {
        width: 16.66666667%
    }

    .col-sm-1 {
        width: 8.33333333%
    }

    .col-sm-pull-12 {
        right: 100%
    }

    .col-sm-pull-11 {
        right: 91.66666667%
    }

    .col-sm-pull-10 {
        right: 83.33333333%
    }

    .col-sm-pull-9 {
        right: 75%
    }

    .col-sm-pull-8 {
        right: 66.66666667%
    }

    .col-sm-pull-7 {
        right: 58.33333333%
    }

    .col-sm-pull-6 {
        right: 50%
    }

    .col-sm-pull-5 {
        right: 41.66666667%
    }

    .col-sm-pull-4 {
        right: 33.33333333%
    }

    .col-sm-pull-3 {
        right: 25%
    }

    .col-sm-pull-2 {
        right: 16.66666667%
    }

    .col-sm-pull-1 {
        right: 8.33333333%
    }

    .col-sm-pull-0 {
        right: auto
    }

    .col-sm-push-12 {
        left: 100%
    }

    .col-sm-push-11 {
        left: 91.66666667%
    }

    .col-sm-push-10 {
        left: 83.33333333%
    }

    .col-sm-push-9 {
        left: 75%
    }

    .col-sm-push-8 {
        left: 66.66666667%
    }

    .col-sm-push-7 {
        left: 58.33333333%
    }

    .col-sm-push-6 {
        left: 50%
    }

    .col-sm-push-5 {
        left: 41.66666667%
    }

    .col-sm-push-4 {
        left: 33.33333333%
    }

    .col-sm-push-3 {
        left: 25%
    }

    .col-sm-push-2 {
        left: 16.66666667%
    }

    .col-sm-push-1 {
        left: 8.33333333%
    }

    .col-sm-push-0 {
        left: auto
    }

    .col-sm-offset-12 {
        margin-left: 100%
    }

    .col-sm-offset-11 {
        margin-left: 91.66666667%
    }

    .col-sm-offset-10 {
        margin-left: 83.33333333%
    }

    .col-sm-offset-9 {
        margin-left: 75%
    }

    .col-sm-offset-8 {
        margin-left: 66.66666667%
    }

    .col-sm-offset-7 {
        margin-left: 58.33333333%
    }

    .col-sm-offset-6 {
        margin-left: 50%
    }

    .col-sm-offset-5 {
        margin-left: 41.66666667%
    }

    .col-sm-offset-4 {
        margin-left: 33.33333333%
    }

    .col-sm-offset-3 {
        margin-left: 25%
    }

    .col-sm-offset-2 {
        margin-left: 16.66666667%
    }

    .col-sm-offset-1 {
        margin-left: 8.33333333%
    }

    .col-sm-offset-0 {
        margin-left: 0
    }

    /*-------------*/

    .form-inline .form-control-static, .form-inline .form-group {
        display: inline-block
    }

    .form-inline .control-label, .form-inline .form-group {
        margin-bottom: 0;
        vertical-align: middle
    }

    .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle
    }

    .form-inline .input-group {
        display: inline-table;
        vertical-align: middle
    }

    .form-inline .input-group .form-control, .form-inline .input-group .input-group-addon, .form-inline .input-group .input-group-btn {
        width: auto
    }

    .form-inline .input-group > .form-control {
        width: 100%
    }

    .form-inline .checkbox, .form-inline .radio {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: middle
    }

    .form-inline .checkbox label, .form-inline .radio label {
        padding-left: 0
    }

    .form-inline .checkbox input[type=checkbox], .form-inline .radio input[type=radio] {
        position: relative;
        margin-left: 0
    }

    .form-inline .has-feedback .form-control-feedback {
        top: 0
    }

    .form-horizontal .control-label {
        text-align: right;
        margin-bottom: 0;
        padding-top: 7px
    }

    /*--------------*/

    .form-horizontal .form-group-lg .control-label {
        padding-top: 11px;
        font-size: 17px
    }

    .form-horizontal .form-group-sm .control-label {
        padding-top: 6px;
        font-size: 12px
    }

    /*--------------*/

    .navbar-right .dropdown-menu {
        left: auto;
        right: 0
    }

    .navbar-right .dropdown-menu-left {
        left: 0;
        right: auto
    }

    /*--------------*/

    .nav-tabs.nav-justified > li {
        display: table-cell;
        width: 1%
    }

    .nav-tabs.nav-justified > li > a {
        margin-bottom: 0;
        border-bottom: 1px solid #ddd;
        border-radius: 2px 2px 0 0
    }

    .nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a:hover {
        border-bottom-color: #f3f3f3
    }

    /*--------------*/

    .nav-justified > li {
        display: table-cell;
        width: 1%
    }

    .nav-justified > li > a {
        margin-bottom: 0
    }

    .nav-tabs-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 2px 2px 0 0
    }

    .nav-tabs-justified > .active > a, .nav-tabs-justified > .active > a:focus, .nav-tabs-justified > .active > a:hover {
        border-bottom-color: #f3f3f3
    }

    /*--------------*/

    .navbar {
        border-radius: 2px
    }

    .navbar-header {
        float: left
    }

    .navbar-collapse {
        width: auto;
        border-top: 0;
        box-shadow: none
    }

    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important
    }

    .navbar-collapse.in {
        overflow-y: visible
    }

    .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse {
        padding-left: 0;
        padding-right: 0
    }

    .container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
        margin-right: 0;
        margin-left: 0
    }

    .navbar-static-top {
        border-radius: 0
    }

    /*--------------*/

    .navbar-fixed-bottom, .navbar-fixed-top {
        border-radius: 0
    }

    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left: -15px
    }

    /*--------------*/

    .navbar-toggle {
        display: none
    }

    .navbar-nav {
        float: left;
        margin: 0
    }

    .navbar-nav > li {
        float: left
    }

    .navbar-nav > li > a {
        padding-top: 16px;
        padding-bottom: 16px
    }

    /*--------------*/

    .navbar-form .form-control-static, .navbar-form .form-group {
        display: inline-block
    }

    .navbar-form .control-label, .navbar-form .form-group {
        margin-bottom: 0;
        vertical-align: middle
    }

    .navbar-form .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle
    }

    .navbar-form .input-group {
        display: inline-table;
        vertical-align: middle
    }

    .navbar-form .input-group .form-control, .navbar-form .input-group .input-group-addon, .navbar-form .input-group .input-group-btn {
        width: auto
    }

    .navbar-form .input-group > .form-control {
        width: 100%
    }

    .navbar-form .checkbox, .navbar-form .radio {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: middle
    }

    .navbar-form .checkbox label, .navbar-form .radio label {
        padding-left: 0
    }

    .navbar-form .checkbox input[type=checkbox], .navbar-form .radio input[type=radio] {
        position: relative;
        margin-left: 0
    }

    .navbar-form .has-feedback .form-control-feedback {
        top: 0
    }

    .navbar-form {
        width: auto;
        border: 0;
        margin-left: 0;
        margin-right: 0;
        padding-top: 0;
        padding-bottom: 0;
        -webkit-box-shadow: none;
        box-shadow: none
    }

    /*--------------*/

    .navbar-text {
        float: left;
        margin-left: 15px;
        margin-right: 15px
    }

    .navbar-left {
        float: left !important
    }

    .navbar-right {
        float: right !important;
        margin-right: -15px
    }

    .navbar-right ~ .navbar-right {
        margin-right: 0
    }

    /*--------------*/

    .modal-dialog {
        width: 600px;
        margin: 30px auto
    }

    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5)
    }

    .modal-sm {
        width: 300px
    }

    /*--------------*/

    .tab-nav li > a {
        padding: 15px
    }

    .flot-chart-pie {
        margin-bottom: 20px
    }

    .modal .modal-dialog, .modal:before {
        display: inline-block;
        vertical-align: middle
    }

    .modal {
        text-align: center
    }

    .modal:before {
        content: '';
        height: 100%;
        width: 1px
    }

    .modal .modal-dialog {
        text-align: left;
        margin: 10px auto
    }

    /*--------------*/

    .m-body {
        padding-left: 300px
    }

    /*--------------*/

    #profile-main .pm-overview {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        border-right: 2px solid #eee
    }

    #profile-main .pmo-pic img {
        width: 100%;
        border-radius: 2px 2px 0 0
    }

    /*--------------*/

    #profile-main .pmo-pic .pmo-stat {
        background: #FFC107;
        padding-bottom: 15px
    }

    #profile-main .pmo-pic .pmop-edit {
        width: 100%;
        opacity: 0;
        filter: alpha(opacity=0)
    }

    #profile-main .pmo-pic .pmop-edit i {
        margin-right: 4px
    }

    /*--------------*/

    .timeline {
        padding: 50px 50px 50px 100px
    }

    /*--------------*/


}

@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm {
        display: block !important
    }

    table.visible-sm {
        display: table !important
    }

    tr.visible-sm {
        display: table-row !important
    }

    td.visible-sm, th.visible-sm {
        display: table-cell !important
    }

    .visible-sm-block {
        display: block !important
    }

    .visible-sm-inline {
        display: inline !important
    }

    .visible-sm-inline-block {
        display: inline-block !important
    }

    /*--------------------*/

    .hidden-sm {
        display: none !important
    }

    /*--------------------*/

}

@media (min-width: 768px) and (max-width: 1200px) {
    #profile-main .pm-overview {
        width: 250px
    }

    #profile-main .pm-body {
        padding-left: 250px
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    #content {
        padding-left: 15px;
        padding-right: 15px
    }

    #content-client {
        padding-left: 15px;
        padding-right: 15px
    }

    #operation-header {
        padding-left: 30px;
        padding-right: 30px;
    }

    #footer {
        padding-left: 30px;
        padding-right: 30px;
    }

}

@media (max-width:992px ) {
    #questionnaire-variant-container{
        max-height: none !important;
    }

}

@media (max-width: 768px) {
    .vote-button{
        margin-right: 0 !important;
    }
}

@media (min-width: 992px) {
    .container {
        width: 100%
    }

    /*------------*/

    .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
        float: left
    }

    .col-md-12 {
        width: 100%
    }

    .col-md-11 {
        width: 91.66666667%
    }

    .col-md-10 {
        width: 83.33333333%
    }

    .col-md-9 {
        width: 75%
    }

    .col-md-8 {
        width: 66.66666667%
    }

    .col-md-7 {
        width: 58.33333333%
    }

    .col-md-6 {
        width: 50%
    }

    .col-md-5 {
        width: 41.66666667%
    }

    .col-md-4 {
        width: 33.33333333%
    }

    .col-md-3 {
        width: 25%
    }

    .col-md-2 {
        width: 16.66666667%
    }

    .col-md-1 {
        width: 8.33333333%
    }

    .col-md-pull-12 {
        right: 100%
    }

    .col-md-pull-11 {
        right: 91.66666667%
    }

    .col-md-pull-10 {
        right: 83.33333333%
    }

    .col-md-pull-9 {
        right: 75%
    }

    .col-md-pull-8 {
        right: 66.66666667%
    }

    .col-md-pull-7 {
        right: 58.33333333%
    }

    .col-md-pull-6 {
        right: 50%
    }

    .col-md-pull-5 {
        right: 41.66666667%
    }

    .col-md-pull-4 {
        right: 33.33333333%
    }

    .col-md-pull-3 {
        right: 25%
    }

    .col-md-pull-2 {
        right: 16.66666667%
    }

    .col-md-pull-1 {
        right: 8.33333333%
    }

    .col-md-pull-0 {
        right: auto
    }

    .col-md-push-12 {
        left: 100%
    }

    .col-md-push-11 {
        left: 91.66666667%
    }

    .col-md-push-10 {
        left: 83.33333333%
    }

    .col-md-push-9 {
        left: 75%
    }

    .col-md-push-8 {
        left: 66.66666667%
    }

    .col-md-push-7 {
        left: 58.33333333%
    }

    .col-md-push-6 {
        left: 50%
    }

    .col-md-push-5 {
        left: 41.66666667%
    }

    .col-md-push-4 {
        left: 33.33333333%
    }

    .col-md-push-3 {
        left: 25%
    }

    .col-md-push-2 {
        left: 16.66666667%
    }

    .col-md-push-1 {
        left: 8.33333333%
    }

    .col-md-push-0 {
        left: auto
    }

    .col-md-offset-12 {
        margin-left: 100%
    }

    .col-md-offset-11 {
        margin-left: 91.66666667%
    }

    .col-md-offset-10 {
        margin-left: 83.33333333%
    }

    .col-md-offset-9 {
        margin-left: 75%
    }

    .col-md-offset-8 {
        margin-left: 66.66666667%
    }

    .col-md-offset-7 {
        margin-left: 58.33333333%
    }

    .col-md-offset-6 {
        margin-left: 50%
    }

    .col-md-offset-5 {
        margin-left: 41.66666667%
    }

    .col-md-offset-4 {
        margin-left: 33.33333333%
    }

    .col-md-offset-3 {
        margin-left: 25%
    }

    .col-md-offset-2 {
        margin-left: 16.66666667%
    }

    .col-md-offset-1 {
        margin-left: 8.33333333%
    }

    .col-md-offset-0 {
        margin-left: 0
    }

    /*------------*/

    .modal-lg {
        width: 900px
    }

    /*------------*/

    #header-alt:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, .04);
        width: 100%;
        height: 49px;
        z-index: -1
    }

    /*------------*/

    .ha-menu > ul {
        list-style: none;
        padding: 0;
        margin: 0
    }

    .ha-menu > ul > li {
        display: inline-block;
        vertical-align: top
    }

    .ha-menu > ul > li:not(.active) > :not(ul) {
        color: rgba(255, 255, 255, .6)
    }

    .ha-menu > ul > li.active > a {
        color: #fff;
        box-shadow: inset 0 -3px 0 0 #FFEB3B
    }

    .ha-menu > ul > li > a {
        text-transform: uppercase;
        padding: 15px 12px;
        display: block
    }

    .ha-menu > ul > li > a:hover {
        color: #fff
    }

    .ha-menu > ul > li .dropdown-menu {
        min-width: 100%
    }

    /*------------*/
}

@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md {
        display: block !important
    }

    table.visible-md {
        display: table !important
    }

    tr.visible-md {
        display: table-row !important
    }

    td.visible-md, th.visible-md {
        display: table-cell !important
    }

    .visible-md-block {
        display: block !important
    }

    .visible-md-inline {
        display: inline !important
    }

    .visible-md-inline-block {
        display: inline-block !important
    }


    /*------------------*/

    .hidden-md {
        display: none !important
    }

    /*------------------*/
}

@media (min-width: 1200px) {
    .container {
        width: 100%
    }

    /*-------------------*/

    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
        float: left
    }

    .col-lg-12 {
        width: 100%
    }

    .col-lg-11 {
        width: 91.66666667%
    }

    .col-lg-10 {
        width: 83.33333333%
    }

    .col-lg-9 {
        width: 75%
    }

    .col-lg-8 {
        width: 66.66666667%
    }

    .col-lg-7 {
        width: 58.33333333%
    }

    .col-lg-6 {
        width: 50%
    }

    .col-lg-5 {
        width: 41.66666667%
    }

    .col-lg-4 {
        width: 33.33333333%
    }

    .col-lg-3 {
        width: 25%
    }

    .col-lg-2 {
        width: 16.66666667%
    }

    .col-lg-1 {
        width: 8.33333333%
    }

    .col-lg-pull-12 {
        right: 100%
    }

    .col-lg-pull-11 {
        right: 91.66666667%
    }

    .col-lg-pull-10 {
        right: 83.33333333%
    }

    .col-lg-pull-9 {
        right: 75%
    }

    .col-lg-pull-8 {
        right: 66.66666667%
    }

    .col-lg-pull-7 {
        right: 58.33333333%
    }

    .col-lg-pull-6 {
        right: 50%
    }

    .col-lg-pull-5 {
        right: 41.66666667%
    }

    .col-lg-pull-4 {
        right: 33.33333333%
    }

    .col-lg-pull-3 {
        right: 25%
    }

    .col-lg-pull-2 {
        right: 16.66666667%
    }

    .col-lg-pull-1 {
        right: 8.33333333%
    }

    .col-lg-pull-0 {
        right: auto
    }

    .col-lg-push-12 {
        left: 100%
    }

    .col-lg-push-11 {
        left: 91.66666667%
    }

    .col-lg-push-10 {
        left: 83.33333333%
    }

    .col-lg-push-9 {
        left: 75%
    }

    .col-lg-push-8 {
        left: 66.66666667%
    }

    .col-lg-push-7 {
        left: 58.33333333%
    }

    .col-lg-push-6 {
        left: 50%
    }

    .col-lg-push-5 {
        left: 41.66666667%
    }

    .col-lg-push-4 {
        left: 33.33333333%
    }

    .col-lg-push-3 {
        left: 25%
    }

    .col-lg-push-2 {
        left: 16.66666667%
    }

    .col-lg-push-1 {
        left: 8.33333333%
    }

    .col-lg-push-0 {
        left: auto
    }

    .col-lg-offset-12 {
        margin-left: 100%
    }

    .col-lg-offset-11 {
        margin-left: 91.66666667%
    }

    .col-lg-offset-10 {
        margin-left: 83.33333333%
    }

    .col-lg-offset-9 {
        margin-left: 75%
    }

    .col-lg-offset-8 {
        margin-left: 66.66666667%
    }

    .col-lg-offset-7 {
        margin-left: 58.33333333%
    }

    .col-lg-offset-6 {
        margin-left: 50%
    }

    .col-lg-offset-5 {
        margin-left: 41.66666667%
    }

    .col-lg-offset-4 {
        margin-left: 33.33333333%
    }

    .col-lg-offset-3 {
        margin-left: 25%
    }

    .col-lg-offset-2 {
        margin-left: 16.66666667%
    }

    .col-lg-offset-1 {
        margin-left: 8.33333333%
    }

    .col-lg-offset-0 {
        margin-left: 0
    }

    /*----------------*/

    .visible-lg {
        display: block !important
    }

    table.visible-lg {
        display: table !important
    }

    tr.visible-lg {
        display: table-row !important
    }

    td.visible-lg, th.visible-lg {
        display: table-cell !important
    }

    .visible-lg-block {
        display: block !important
    }

    .visible-lg-inline {
        display: inline !important
    }

    .visible-lg-inline-block {
        display: inline-block !important
    }

    .hidden-lg {
        display: none !important
    }

    /*--------------*/

    #profile-main .pm-overview {
        width: 300px
    }

    #profile-main .pm-body {
        padding-left: 300px
    }

    /*-------------*/

    #profile-main .pmb-block {
        padding: 40px 42px 0
    }
}

@media (min-width: 1280px) {
    /*#content:not(.content-alt) {
        padding-left: 283px;
        padding-right: 15px
    }*/

    /*--------------*/

    .breadcrumb {
        padding: 10px 33px 11px 300px
    }


    #operation-header:not(.content-alt) {
        padding-left: 283px;
        padding-right: 15px;
    }

    #footer{
        padding-left: 283px;
        padding-right: 15px;
    }

    #content:not(.content-alt) {
        padding-left: 268px;
        padding-right: 250px
    }

    #content-client {
        padding-left: 200px;
        padding-right: 200px
    }

    .filter-toggled #content:not(.content-alt){
        padding-right: 0
    }

    #filter{
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .filter-toggled #filter{
        -webkit-transform: translate3d(250px, 0, 0);
        transform: translate3d(250px, 0, 0);
    }
    /*.filter-closed #filter!*:not(.toggled)*!{
        -webkit-transform: translate3d(250px, 0, 0);
        transform: translate3d(250px, 0, 0);
    }*/

}

@media (max-width: 767px) {
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none
    }

    .navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu > li > a {
        padding: 5px 15px 5px 25px
    }

    .navbar-nav .open .dropdown-menu > li > a {
        line-height: 18px
    }

    .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-nav .open .dropdown-menu > li > a:hover {
        background-image: none
    }
    /*---------------*/
    .navbar-form .form-group {
        margin-bottom: 5px
    }

    .navbar-form .form-group:last-child {
        margin-bottom: 0
    }
    /*---------------*/
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        color: #333;
        background-color: transparent
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover {
        color: #555;
        background-color: #e7e7e7
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover {
        color: #ccc;
        background-color: transparent
    }

    /*---------------*/

    .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
        border-color: #080808
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
        background-color: #080808
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #9d9d9d
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
        color: #fff;
        background-color: transparent
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover {
        color: #fff;
        background-color: #080808
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover {
        color: #444;
        background-color: transparent
    }

    /*---------------*/

    .visible-xs {
        display: block !important
    }

    table.visible-xs {
        display: table !important
    }

    tr.visible-xs {
        display: table-row !important
    }

    td.visible-xs, th.visible-xs {
        display: table-cell !important
    }

    .visible-xs-block {
        display: block !important
    }

    .visible-xs-inline {
        display: inline !important
    }

    .visible-xs-inline-block {
        display: inline-block !important
    }

    /*---------------*/

    .hidden-xs {
        display: none !important
    }

    /*---------------*/

    .hi-menu > li {
        position: static !important
    }

    /*---------------*/

    .hi-menu .dropdown-menu-lg {
        width: calc(100% - 28px) !important
    }

    .hi-menu .dropdown-menu {
        right: 14px;
        top: 55px !important
    }

    /*---------------*/

    #header {
        padding: 0 8px
    }

    .h-search-wrap .hsw-close {
        right: 7px
    }

    /*---------------*/

    #header-alt {
        padding: 5px 5px 0 25px
    }

    /*---------------*/

    .m-sidebar {
        width: 60px
    }

    .m-sidebar .list-group-item {
        padding: 10px !important
    }

    .m-sidebar .ms-time {
        display: none
    }

    /*---------------*/

    .m-body {
        padding-left: 60px
    }

    /*---------------*/

    .mbl-messages {
        padding: 20px 20px 0
    }

    /*---------------*/

    .fz-block {
        width: calc(100% - 40px);
        left: 20px;
        margin-left: 0;
        height: 260px;
        margin-top: -130px
    }

    .fz-block h2 {
        font-size: 90px
    }

    /*---------------*/

    #profile-main .pm-overview {
        width: 100%;
        background: #333;
        text-align: center
    }

    #profile-main .pm-body {
        padding-left: 0
    }

    #profile-main .pmo-pic img {
        width: 180px;
        display: inline-block;
        height: 180px;
        border-radius: 50%;
        border: 4px solid #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, .16), 0 2px 10px rgba(0, 0, 0, .12)
    }

    /*---------------*/

    .c-timeline {
        background: #f3f3f3;
        box-shadow: none
    }

    .c-timeline .tab-nav {
        background: #fff;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .15)
    }

    .timeline {
        margin-top: 30px
    }

    .t-view {
        background: #fff;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .15)
    }
}

@media (max-width: 768px) {
    .tab-nav li > a {
        padding: 15px 8px
    }
}

@media (max-width: 991px) {
    #header-alt .hi-trigger {
        display: inline-block !important
    }

    /*--------------*/

    .ha-menu {
        display: none
    }
}

@media (max-width: 1199px) {
    #profile-main .pmb-block {
        padding: 30px 20px 0
    }
}

@media (max-width: 1279px) {
    #header .hi-trigger {
        display: inline-block !important
    }

    /*-----------------*/

    #sidebar {
        -webkit-transform: translate3d(-288px, 0, 0);
        transform: translate3d(-288px, 0, 0);
        box-shadow: 0 0 20px rgba(14, 18, 21, .38)
    }

    #sidebar.toggled {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    /*-----------------*/

    .ie9 #sidebar {
        display: none
    }

    .ie9 #sidebar.toggled {
        display: block
    }

    /*-----------------*/

    .breadcrumb {
        padding: 10px 33px 11px
    }

    #operation-header:not(.content-alt) {
        padding-left: 30px;
        padding-right: 30px;
    }

    #footer:not(.content-alt) {
        padding-left: 30px;
        padding-right: 30px;
    }

    #content:not(.content-alt) {
        padding-left: 15px;
        padding-right: 15px
    }

    .filter-resize-toggled #filter{
        -webkit-transform: translate3d(250px, 0, 0);
        transform: translate3d(250px, 0, 0);
        box-shadow: 0 0 20px rgba(14, 18, 21, .38);
    }

    .filter-resize-toggled #filter.toggled{
        -webkit-transform: translate3d(250px, 0, 0);
        transform: translate3d(250px, 0, 0);
    }


    .filter-resize-toggled .fi-trigger .hide-filter{
        visibility: hidden;
        display: none;
    }

    .filter-resize-toggled .fi-trigger .show-filter{
        visibility: visible;
        display: block;
    }

    /*---------------*/

    .ie9 #filter {
        display: none
    }

    .ie9 #filter.toggled {
        display: block
    }
}




