.bg-purple-50{
    background-color: #F3E5F5;
}
.bg-purple-100{
    background-color: #E1BEE7;
}
.bg-purple-200{
    background-color: #CE93D8;
}
.bg-purple-300{
    background-color: #BA68C8;
}
.bg-purple-400{
    background-color: #AB47BC;
}
.bg-purple-500{
    background-color: #9C27B0;
}
.bg-purple-600{
    background-color: #8E24AA;
}
.bg-purple-700{
    background-color: #7B1FA2;
}
.bg-purple-800{
    background-color: #6A1B9A;
}
.bg-purple-900{
    background-color: #4A148C;
}

.text-purple-50{
    color: #F3E5F5;
}
.text-purple-100{
    color: #E1BEE7;
}
.text-purple-200{
    color: #CE93D8;
}
.text-purple-300{
    color: #BA68C8;
}
.text-purple-400{
    color: #AB47BC;
}
.text-purple-500{
    color: #9C27B0;
}
.text-purple-600{
    color: #8E24AA;
}
.text-purple-700{
    color: #7B1FA2;
}
.text-purple-800{
    color: #6A1B9A;
}
.text-purple-900{
    color: #4A148C;
}


.text-green-50{color : #e8f5e9 }
.text-green-100{color : #c8e6c9 }
.text-green-200{color : #a5d6a7 }
.text-green-300{color : #81c784 }
.text-green-400{color : #66bb6a }
.text-green-500{color : #4caf50 }
.text-green-600{color : #43a047 }
.text-green-700{color : #388e3c }
.text-green-800{color : #2e7d32 }
.text-green-900{color : #1b5e20 }



.bg-green-50 {background-color : #e8f5e9 }
.bg-green-100{background-color : #c8e6c9 }
.bg-green-200{background-color : #a5d6a7 }
.bg-green-300{background-color : #81c784 }
.bg-green-400{background-color : #66bb6a }
.bg-green-500{background-color : #4caf50 }
.bg-green-600{background-color : #43a047 }
.bg-green-700{background-color : #388e3c }
.bg-green-800{background-color : #2e7d32 }
.bg-green-900{background-color : #1b5e20 }




.text-red-50{ color : #ffebee }
.text-red-100{color : #ffcdd2 }
.text-red-200{color : #ef9a9a }
.text-red-300{color : #e57373 }
.text-red-400{color : #ef5350 }
.text-red-500{color : #f44336 }
.text-red-600{color : #e53935 }
.text-red-700{color : #d32f2f }
.text-red-800{color : #c62828 }
.text-red-900{color : #b71c1c }



.bg-red-50 {background-color : #ffebee }
.bg-red-100{background-color : #ffcdd2 }
.bg-red-200{background-color : #ef9a9a }
.bg-red-300{background-color : #e57373 }
.bg-red-400{background-color : #ef5350 }
.bg-red-500{background-color : #f44336 }
.bg-red-600{background-color : #e53935 }
.bg-red-700{background-color : #d32f2f }
.bg-red-800{background-color : #c62828 }
.bg-red-900{background-color : #b71c1c }



.brd-red-50 {border-color: #ffebee }
.brd-red-100{border-color : #ffcdd2 }
.brd-red-200{border-color : #ef9a9a }
.brd-red-300{border-color : #e57373 }
.brd-red-400{border-color : #ef5350 }
.brd-red-500{border-color : #f44336 }
.brd-red-600{border-color : #e53935 }
.brd-red-700{border-color : #d32f2f }
.brd-red-800{border-color : #c62828 }
.brd-red-900{border-color : #b71c1c }

.brd-red-50i {border-color: #ffebee !important;}
.brd-red-100{border-color : #ffcdd2 !important;}
.brd-red-200i{border-color : #ef9a9a !important;}
.brd-red-300i{border-color : #e57373 !important;}
.brd-red-400i{border-color : #ef5350 !important;}
.brd-red-500i{border-color : #f44336 !important;}
.brd-red-600i{border-color : #e53935 !important;}
.brd-red-700i{border-color : #d32f2f !important;}
.brd-red-800i{border-color : #c62828 !important;}
.brd-red-900i{border-color : #b71c1c !important;}



.text-grey-50{ color : #fafafa }
.text-grey-100{color : #f5f5f5 }
.text-grey-200{color : #eeeeee }
.text-grey-300{color : #e0e0e0 }
.text-grey-400{color : #bdbdbd }
.text-grey-500{color : #9e9e9e }
.text-grey-600{color : #757575 }
.text-grey-700{color : #616161 }
.text-grey-800{color : #424242 }
.text-grey-900{color : #212121 }


.bg-grey-50{ background-color : #fafafa }
.bg-grey-100{background-color : #f5f5f5 }
.bg-grey-200{background-color : #eeeeee }
.bg-grey-300{background-color : #e0e0e0 }
.bg-grey-400{background-color : #bdbdbd }
.bg-grey-500{background-color : #9e9e9e }
.bg-grey-600{background-color : #757575 }
.bg-grey-700{background-color : #616161 }
.bg-grey-800{background-color : #424242 }
.bg-grey-900{background-color : #212121 }






